@model MVCFoodProject.Models.ViewModels.CourierPageViewModel
@{
    ViewData["Title"] = "Courier Page";
}

@if (!Model.Order.Any())
{
    <div class="d-flex align-content-center flex-wrap justify-content-center h3">Ви не виконали жодного замовлення</div>
}
else
{
    @foreach (var order in Model.Order.Select((value, i) => new { i = i + 1, value }))
    {
        <div class="accordion " id="accordion-@order.i">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseorder-@order.i" aria-expanded="true" aria-controls="collapse-@order.i">
                        <div style="margin-right: 10px"> Order: @order.i </div>
                        <div> @order.value.TotalPrice ₴</div>
                    </button>
                </h2>
                <div id="collapseorder-@order.i" class="accordion-collapse collapse" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        @if (order.value.UserId != null)
                        {
                            <div class="accordion" id="accordion-@order.value.UserId" style="margin-bottom:10px">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@order.i-@order.value.UserId" aria-expanded="true" aria-controls="collapse-@order.i-@order.value.UserId">
                                            Customer
                                        </button>
                                    </h2>
                                    <div id="collapse-@order.i-@order.value.UserId" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            <div class="d-flex align-items-center bd-highlight mb-3">
                                                <div style="width:100px">
                                                    @if (order.value.User.imgURL == null)
                                                    {
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" class="img-fluid img-thumbnail">
                                                    }
                                                    else {<img src="@order.value.User.imgURL" class="img-fluid img-thumbnail">}
                                                </div>
                                                <div class="d-flex flex-column bd-highlight mb-3">
                                                    <div class="p-2 bd-highlight">Name: @(order?.value?.User?.Name ?? "")</div>
                                                    <div class="p-2 bd-highlight">Number: @(order?.value?.User?.Number ?? "")</div>
                                                    <div class="p-2 bd-highlight">Address: @(order?.value?.User?.Adress ?? "")</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @foreach (var productorder in order.value.ProductOrders.Select((value, i) => new { i = i + 1, value }))
                        {
                            <div class="accordion " id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseproductorder-@order.i-@productorder.i" aria-expanded="true" aria-controls="collapseproductorder-@order.i-@productorder.i">
                                            <div style="margin-right:10px">Product: @productorder.i</div>
                                            <div>x @productorder.value.Quantity</div>
                                        </button>
                                    </h2>

                                    <div id="collapseproductorder-@order.i-@productorder.i" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            <div class="d-flex flex-column bd-highlight mb-3">
                                                <div class="p-2 bd-highlight">
                                                    <div class="d-flex align-items-center">
                                                        <div class="" style="width: 100px; padding-left: 0px;  padding-right: 0px;">
                                                            <img src="@productorder.value.Product.ProductsDetails.imgURL" class="img-fluid">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3 justify-content-between">
                                                            <div>@productorder.value.Product.ProductsDetails.ProductName</div>
                                                            <div>@productorder.value.Product.CategoryType </div>
                                                            <div>@productorder.value.Product.ProductsDetails.Price ₴</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    @productorder.value.Product.ProductsDetails.Description
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}